/**
 * Styles for the main page
 */
body {
    margin: 0;
    padding: 0;
    background: 
        url("../images/wood_pattern/wood_pattern.png") 
        repeat scroll 0 0 transparent;
}

.content-link { 
    color: white;
    font-size: smaller !important; 
}

.content-label { 
    color: white;
}

.content-square {
}
